@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: rgba(245, 245, 245, 1);
    margin: 0;
    font-family: "Fira Sans", serif;
}

.btn{
    background: #006A50;
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;

}

button{
    cursor: pointer;
}

/* Nav */
nav{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h2{
    font-size: 32px;
    color: #0E0E0E;
}

nav button{
    width: 116px;
    height: 52px;
    font-size: 22px;
    background: rgba(245, 245, 245, 1);
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;

}

/* Banner */
.banner{
    background: #C6E4D6;
    /* width: 1280px; */
    height: 560px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 24px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
}
.banner-contents{
    width: 622px;
    margin-left: 60px;
}
.banner-contents p{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
  
}

.banner-contents h2{
    font-size: 56px;
    font-weight:700;
   
}
.banner-btn{
    width: 270px;
    height: 56px;
}

.banner img{
    width: 474.3px;
    height: 400px;
    margin-right: 60px;

}

/* Main */
main{
    margin-left: 160px;
    margin-right: 160px;
}

/* Pillars of Bangladesh */
.pillar-cards{
    width: 302px;
    /* height: 244px; */
    background: white;
    border-radius: 16px;
    padding: 24px;
}

.pillar-cards h4{
    font-size: 20px;
    font-weight:700;
    margin-bottom: 12px;
}

.pillar-cards p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;

}

.pillar-Contents{
    display: flex;
    justify-content: space-between;
}

.pillarsOfBD{
    margin-top: 80px;
}

.pillarsOfBD h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 80px;
}

/* Vision of Future */
.Vision-Of_Future h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
}
.Vision-Of_Future p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    line-height: 24px;
}

.VOF-Cards{
    display: flex;
    justify-content: space-between;
    margin-bottom:32px ;

}

.VOF-Cards-contents{
    width: 410.67px;
    border-radius: 16px;
    padding: 32px;
}

.VOF-C1{
    background: rgba(84, 144, 245, 0.2);
}

.VOF-C2{
    background: #C6E4D6;
}

.VOF-C3{
    background: #F7EBCF;
}

.VOF-btn1{
    width: 122px;
    height: 41px;
    background: #5490F5;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

.VOF-btn2{
    width: 122px;
    height: 41px;
    background: #09A15C;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

.VOF-btn3{
    width: 122px;
    height: 41px;
    background: #FFC239;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

/* Quote Section */
#quote-div{
    background: white;
    padding: 48px 24px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 30px left 24px;
    border-radius: 16px;
    margin-bottom: 80px;
}

#main-quote{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

#name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}

#designation{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    
}


/* Your Opinion Matters - Table */
 .Your-Opinion_Matters h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
}

.YOM-table{
    background: white;
    border-radius: 16px;
    padding: 32px;
}


table{
    width: 100%;
    
}

table,th ,.ques , td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;

}
th{
    text-align: start;
    font-size: 20px;
    font-weight: 600;
    padding: 24px;
}

thead tr{
    background: #C6E4D6;
}

.table-val .ques{
    padding: 20px;
    font-size: 16px;
    font-weight: 600;   
}

.ans{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select{
    width: 152px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background: #C6E4D6;
    text-align: center;
}

th{
    border:none;
}




/* Recent News */
.Recent-News h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
}

.Recent-News p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    line-height: 24px;
}
.news-cards{
    padding: 48px;
    background: white;
    border-radius: 24px;

    display: flex;
    gap: 32px;
    margin-bottom: 24px;


}
.news-cards img{
    border-radius: 24px;
}

.news-contents h2{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.RN-btn{
    width: 139px;
    height: 48px;
}

/* Donate section */
.donate h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
    text-align: center;
}

.donate p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    line-height: 24px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.donate-boxs{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.donate-boxs button{
    width: 240px;
    height: 128px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 16px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.inputs input{
    width: 1032px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.inputs input::placeholder{
    
    text-align: center;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.inputs button{
    width: 151px;
    height: 56px;
    margin-bottom: 80px;

}

.donate-boxs button:hover{
    background: #C6E4D6;
   
}


/* Newsletter section */

.newletter-section{
    background: rgba(198, 228, 214, 1);
    border: 0;
    border-radius: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.newletter-section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
    text-align: center;
}

.newletter-section p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    line-height: 24px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.di{
    display: flex;
    justify-content: center;
}

.di input{
    width: 600px;
    height: 55px;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.di input::placeholder{

    text-align: start;
    padding-left: 20px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3)
    
    
}
.di button{
    width: 150px;
    height: 56px;
    background: rgba(0, 106, 80, 1);
    color: white;
    border: 0;
    border-radius: 0 5px 5px 0 ;
}

/* Footer Section */
.footer-section{
    background: white;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h2{
    font-size: 32px;
    font-weight: 700;
    padding-top: 50px;
}


#line{
    width: 1122px;
    height: 1px;
    background: rgba(14, 14, 14, 0.1);
    margin-bottom: 32px;
}

.socials{
    display: flex;
    gap: 23px;
    padding-bottom: 50px;
}