@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: rgba(245, 245, 245, 1);
    margin: 0;
    font-family: "Fira Sans", serif;
}

.btn{
    background: #006A50;
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;

}

/* Nav */
nav{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h2{
    font-size: 32px;
    color: #0E0E0E;
}

nav button{
    width: 116px;
    height: 52px;
    font-size: 22px;
    background: rgba(245, 245, 245, 1);
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;

}

/* Banner */
.banner{
    background: #C6E4D6;
    /* width: 1280px; */
    height: 560px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 24px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
}
.banner-contents{
    width: 622px;
    margin-left: 60px;
}
.banner-contents p{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
  
}

.banner-contents h2{
    font-size: 56px;
    font-weight:700;
   
}
.banner-btn{
    width: 270px;
    height: 56px;
}

.banner img{
    width: 474.3px;
    height: 400px;
    margin-right: 60px;

}

/* Main */
main{
    margin-left: 160px;
    margin-right: 160px;
}

/* Pillars of Bangladesh */
.pillar-cards{
    width: 302px;
    /* height: 244px; */
    background: white;
    border-radius: 16px;
    padding: 24px;
}

.pillar-cards h4{
    font-size: 20px;
    font-weight:700;
    margin-bottom: 12px;
}

.pillar-cards p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;

}

.pillar-Contents{
    display: flex;
    justify-content: space-between;
}

.pillarsOfBD{
    margin-top: 80px;
}

.pillarsOfBD h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 80px;
}

/* Vision of Future */
.Vision-Of_Future h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 80px;
}
.Vision-Of_Future p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7) ;
    margin-bottom: 32px;
    line-height: 24px;
}

.VOF-Cards{
    display: flex;
    justify-content: space-between;
    margin-bottom:32px ;

}

.VOF-Cards-contents{
    width: 410.67px;
    border-radius: 16px;
    padding: 32px;
}

.VOF-C1{
    background: rgba(84, 144, 245, 0.2);
}

.VOF-C2{
    background: #C6E4D6;
}

.VOF-C3{
    background: #F7EBCF;
}

.VOF-btn1{
    width: 122px;
    height: 41px;
    background: #5490F5;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

.VOF-btn2{
    width: 122px;
    height: 41px;
    background: #09A15C;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

.VOF-btn3{
    width: 122px;
    height: 41px;
    background: #FFC239;
    color: white;

    font-size: 16px;
    font-weight: 600;

    border-radius:8px ;
    border: 0;
}

/* Quote Section */
#quote-div{
    background: white;
    padding: 48px 24px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 30px left 24px;
    border-radius: 16px;
    margin-bottom: 80px;
}

#main-quote{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

#name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}

#designation{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    
}